/*-------------------------------------------------------------------------------------------- VARIABLES */
:root {
    --lime-green-color: hsl(163, 72%, 41%);
    --bright-red-color: hsl(356, 69%, 56%);

    --facebook-color:  hsl(203, 89%, 53%);
    --twitter-color: hsl(195, 100%, 50%);
    --instagram-color: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --youtube-color: hsl(348, 97%, 39%);
/* Light theme colors */
    --card-gray-color: hsl(227, 47%, 96%);
    --header-gray-color: hsl(225, 100%, 98%);
    --background-white: hsl(0, 0%, 100%));
    --text-dark-gray: hsl(228, 12%, 44%);
    --text-very-dark-gray: hsl(230, 17%, 14%);
    /* Toggle light theme*/
    --light-button-color: hsl(230, 22%, 74%);
/* Dark theme colors */
    --card-dark-blue: hsl(228, 28%, 20%);
    --header-dark-blue: hsl(232, 19%, 15%);
    --backgroud-very-dark-blue: hsl(232, 19%, 15%);
    --text-desaturated-blue: hsl(228, 34%, 66%);
    --text-white: hsl(0, 0%, 100%);
    /* Toggle dark theme */
    --dark-button-color: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
}
/*---------------------------------------------------------------------------------------- VARIABLES ENDS*/
/*---------------------------------------------------------------------------------------- GLOBAL STYLES */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto mono', Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 100%);
}
/*---------------------------------------------------------------------------------- GLOBAL STYLES ENDS */
/* -----------------------------------------------------------------------------------------HEADER START*/
header{
    margin: 0;
    background-size: 100vw;
    background-color: var(--header-gray-color);
    display: grid;
    grid-template-columns: 1fr 400px repeat(3,1fr);
}

header h1 {
    grid-column-start: 2;
    grid-row-start: 1;
    padding-top: 50px;
}

.container {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    display: flex;
}

.container  p {
    color: hsl(228, 12%, 44%);
}

.toggle-button {
    display: none;
    
}
    .toggle-button + label {

      align-self: center;
      justify-items: flex-end; 
      display: block;
      width: 40px;
      height: 20px;
      margin-left: auto;
      margin-right: 1%;
      background: hsl(230, 22%, 74%);
      border-radius: 10px;
      box-shadow: 0 0 0 2px rgba(238, 238, 238, 0.5);
      transition: all 0.3s; }
      .toggle-button + label:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--header-gray-color);
        position: relative;
        left: 0;
        transition: all 0.3s; }
    .toggle-button:checked + label {
      background: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%); }
      .toggle-button:checked + label:before {
        left: 20px;
        background: var(--header-gray-color); }


/* -----------------------------------------------------------------------------------------HEADER END*/
/* ----------------------------------------------------------------------SOCIAL MEDIA CONTAINERS START*/
.social-media-totals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 150px;
    margin-right: 150px;
}

.media-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-radius: 5px;
    background-color: var(--card-gray-color);
    margin-left: 10px;
    margin-right: 10px;
}

.media-container figure {
    justify-self: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.media-container h2 {
    grid-row: 2;
    grid-column: 1;
    margin: 0;
    padding: 0;
    justify-self: center;
    font-size: xx-large;
}

.media-container p {
    grid-row: 3;
    grid-column: 1;
    margin: 0;
    padding: 0;
    justify-self: center;
    color: hsl(228, 12%, 44%);
}

.social-media-totals .media-container .followers-counter {
    color: var(--lime-green-color);
}

#facebook {
    grid-column: 1;
    border-top: 5px var(--facebook-color) solid;
}

#twitter {
    border-top: 5px var(--twitter-color) solid;
    grid-column: auto;
}

#instagram {
    border-top: 5px var(--instagram-color) solid;
    grid-column: auto;
}

#youtube {
    border-top: 5px var(--youtube-color) solid;
    grid-column: auto;
}

#youtube .followers-counter{
    color: red;
}

/* ----------------------------------------------------------------------SOCIAL MEDIA CONTAINERS ENDS*/
/* --------------------------------------------------------------------------------- OVERVIEW STARTS */

#overview-header {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 400px repeat(3,1fr);
    font-size: 14px;
}

#overview-header h1 {
    grid-column: 2;
}

.social-media-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 150px;
    margin-right: 150px;
    gap: 0 20px;
}

.social-media-overview .overview-container {
    grid-column: auto;
    border-radius: 5px;
    background-color: var(--card-gray-color);
    margin-top: 20px;
}
/* ---------------------------------------------------------------------------------Container */
.overview-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.overview-container .page-status{
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    padding-left: 15px;
}

.overview-container .social-icon {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.overview-container h2 {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}

.overview-container .arrow-percentage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.overview-container .arrow {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.overview-container .percentage {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    color: var(--lime-green-color);
}
/* ------------------------------------------------------------------------------Container ends */

#facebook-2 .percentage{
    color: red;
}

#instagram-2 .percentage{
    color: var(--lime-green-color);
}

#youtube-2 .percentage{
    color: red;
}
/*------------------------------------------------------------------------------- OVERVIEW ENDS */