/*-------------------------------------------------------------------------------------------- VARIABLES */
:root {
    --lime-green-color: hsl(163, 72%, 41%);
    --bright-red-color: hsl(356, 69%, 56%);

    --facebook-color:  hsl(203, 89%, 53%);
    --twitter-color: hsl(195, 100%, 50%);
    --instagram-color: hsl(37, 97%, 70%), hsl(329, 70%, 58%);
    --youtube-color: hsl(348, 97%, 39%);
/* Light theme colors */
    --card-gray-color: hsl(227, 47%, 96%);
    --header-gray-color: hsl(225, 100%, 98%);
    --background-white: hsl(0, 0%, 100%);
    --text-dark-gray: hsl(228, 12%, 44%);
    --text-very-dark-gray: hsl(230, 17%, 14%);
    /* Toggle light theme*/
    --light-button-color: hsl(227, 47%, 96%);
/* Dark theme colors */
    --card-dark-blue: hsl(228, 28%, 20%);
    --header-dark-blue: hsl(232, 19%, 15%);
    --backgroud-very-dark-blue: hsl(232, 19%, 15%);
    --text-desaturated-blue: hsl(228, 34%, 66%);
    --text-white: hsl(0, 0%, 100%);
    /* Toggle dark theme */
    --dark-button-color: hsl(0, 0%, 79%), hsl(227, 47%, 96%) ;
}
/*---------------------------------------------------------------------------------------- VARIABLES ENDS*/
/*---------------------------------------------------------------------------------------- GLOBAL STYLES */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto mono', Arial, Helvetica, sans-serif;
    background-color: var(--background-white);
}

main {
    background-color: var(--background-white);
}

/* Estilos boton*/
.switch, .switch-label {
    position: absolute;
    top: 140px;
    right: 158px;
    z-index: 1;
}

.switch-label {
    padding: 13px;
    width: 50px;
    height: 5px;
    border-radius: 50px;
    border: 1px solid;
    background-image: linear-gradient(to right, var(--dark-button-color));
}

.switch:checked ~ .switch-label {
    --dark-button-color: hsl(210, 78%, 56%), hsl(146, 68%, 55%);
}

.switch-label span {
    position: absolute;
    bottom: calc(100% + 10px);
    width: 100%;
    left: 20px;
}

.switch-label span::after{
    position: absolute;
    top: calc(100% + 15px);
    left: -15px;
    width: 20px;
    height: 20px;
    content: "";
    border-radius: 50%;
    background-color: white;
    transition: transform 200ms, background-color 200ms;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
}

.switch:checked ~ .switch-label span::after{
    transform: translateX(47px);
}

.switch:checked ~ header {
    --header-gray-color: hsl(232, 19%, 15%);
    --text-very-dark-gray: white;
}

.switch:checked ~ main{
    --background-white: hsl(232, 19%, 15%);
    --text-very-dark-gray: white;
    --card-gray-color: hsl(228, 28%, 20%);
}


/*---------------------------------------------------------------------------------- GLOBAL STYLES ENDS */
/* -----------------------------------------------------------------------------------------HEADER START*/
header{
    margin: 0;
    background-size: 100%;
    background-color: var(--header-gray-color);
    display: grid;
    grid-template-columns: 1fr 400px repeat(3,1fr);
}

header h1 {
    grid-column-start: 2;
    grid-row-start: 1;
    padding-top: 50px;
    color: var(--text-very-dark-gray);
}

.container {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    display: flex;
    justify-content: space-between;
}

.container  p {
    color: var(--text-very-dark-gray);
}

/* -----------------------------------------------------------------------------------------HEADER END*/
/* ----------------------------------------------------------------------SOCIAL MEDIA CONTAINERS START*/
.social-media-totals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 150px;
    margin-right: 150px;
}

.media-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-radius: 5px;
    background-color: var(--card-gray-color);
    color: var(--text-very-dark-gray);
    margin-left: 10px;
    margin-right: 10px;
}

.media-container figure {
    justify-self: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.media-container h2 {
    grid-row: 2;
    grid-column: 1;
    margin: 0;
    padding: 0;
    justify-self: center;
    font-size: xx-large;
}

.media-container p {
    grid-row: 3;
    grid-column: 1;
    margin: 0;
    padding: 0;
    justify-self: center;
    color: hsl(228, 12%, 44%);
}

.social-media-totals .media-container .followers-counter {
    color: var(--lime-green-color);
}

#facebook {
    grid-column: 1;
    border-top: 5px var(--facebook-color) solid;
}

#twitter {
    border-top: 5px var(--twitter-color) solid;
    grid-column: auto;
}

#instagram {
    border-top: 5px solid transparent;
    border-image: linear-gradient(to right, var(--instagram-color));
    border-image-slice: 1;
    grid-column: auto;
}

#youtube {
    border-top: 5px var(--youtube-color) solid;
    grid-column: auto;
}

#youtube .followers-counter{
    color: red;
}

/* ----------------------------------------------------------------------SOCIAL MEDIA CONTAINERS ENDS*/
/* --------------------------------------------------------------------------------- OVERVIEW STARTS */

.switch:checked ~ #overview-header {
    --text-very-dark-gray: hsl(228, 34%, 66%);
}

#overview-header {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 400px repeat(3,1fr);
    font-size: 14px;
    color: var(--text-very-dark-gray);
}

#overview-header h1 {
    grid-column: 2;
   
}

.social-media-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 150px;
    margin-right: 150px;
    gap: 0 20px;
}

.social-media-overview .overview-container {
    grid-column: auto;
    border-radius: 5px;
    margin-top: 20px;
}
/* ---------------------------------------------------------------------------------Container */
.overview-container {
    display: grid;
    background-color: var(--card-gray-color);
    color: var(--text-very-dark-gray);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.overview-container .page-status{
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    padding-left: 15px;
}

.overview-container .social-icon {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.overview-container h2 {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}

.overview-container .arrow-percentage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.overview-container .arrow {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.overview-container .percentage {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    color: var(--lime-green-color);
}
/* ------------------------------------------------------------------------------Container ends */

#facebook-2 .percentage{
    color: red;
}

#instagram-2 .percentage{
    color: var(--lime-green-color);
}

#youtube-2 .percentage{
    color: red;
}
/*------------------------------------------------------------------------------- OVERVIEW ENDS */