@media (max-width: 425px) {


    header {
        grid-template-columns: 1fr;
        
    }

    main {
        margin: 60px;
    } 

    header h1 {
        padding-left: 2%;
        width: fit-content;
        grid-column-start: 1;
    }

    .container {
        display: inline-flex;
        padding-left: 2%;
        grid-column: 1;
        grid-row: 2;
    }

    .toggle-button + label {
        align-self: center;
        margin-right: 2%;
    }    
    .social-media-totals {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        margin: 0;
        width: 100%;
    }
    .media-container{
        grid-row: 1;
        grid-column: 1;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    
    #twitter {
        border-top: 5px var(--twitter-color) solid;
        grid-column: 1;
        grid-row: 2;
    }
    #instagram {
        border-top: 5px var(--instagram-color) solid;
        grid-column: 1;
        grid-row: 3;
    }
    #youtube {
        color: red;
        grid-column: 1;
        grid-row: 4;
    }

    .social-media-overview {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        margin: 0;
        width: 100%;
    }

    .switch, .switch-label {
        position: absolute;
        top: 140px;
        right: 1px;
        z-index: 1;
    }
}

@media (min-width: 425px) {

    .switch, .switch-label{
        position: absolute;
        top: 110px;
        right: 1px;
        z-index: 1;

    }
}

@media (min-width: 768px) {

    .switch, .switch-label{
        position: absolute;
        top: 113px;
        right: 95px;
        z-index: 1;

    }
}

@media (min-width: 1024px) {

    .switch, .switch-label{
        position: absolute;
        top: 113px;
        right: 159px;
        z-index: 1;

    }
}

@media (min-width: 1440px) {

    .switch, .switch-label{
        position: absolute;
        top: 140px;
        right: 175px;
        z-index: 1;

    }
}

@media (min-width: 2560px) {

    .switch, .switch-label{
        position: absolute;
        top: 140px;
        right: 450px;
        z-index: 1;

    }
}




